<body class="dashboard">

  <div class="dashboard-header">
    <h1>Dashboard Home</h1>
  </div>

  <div class="user-info">
    <li><%= @user.username %></li>
    <li><%= image_tag @user.avatar_url %></li>
  </div>

</div>
