// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.dashboard {
  background-color: #C7EFCF;
}

.dashboard-header {
  text-align: center;
  font-size: 30px;
  color: #F0B67F;
  margin-top: 50px;
}

.user-info {
  list-style: none;
  // display: inline-block;
}

.all-info {
  text-align: center;
}

.avatar {
  display: inline-block;
  margin-right: 10px;
  font-size: 25px;
}

.avatar img {
  width: 136px;
}

.info {
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  vertical-align: top;
  color: #FE5F55;
}
