// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.dashboard {
  background-color: #C7EFCF;
  font-family: "Maven Pro", sans-serif;
}

.dashboard-header {
  text-align: center;
  font-size: 30px;
  color: #F0B67F;
  margin-top: 50px;
}

.user-info {
  list-style: none;
}

.all-info {
  text-align: center;
}

.avatar {
  display: inline-block;
  margin-right: 10px;
  font-size: 25px;
}

.avatar img {
  width: 136px;
}

.info {
  text-align: left;
  display: inline-block;
  margin-left: 10px;
  font-size: 15px;
  vertical-align: top;
  color: #FE5F55;
}

.recents {
  text-align: center;
  color: #FE5F55;
  margin-top: 35px;
  font-size: 20px;
}

.recents h3 {
  color: #F0B67F;
  font-size: 30px;
}

.recent-repos {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
}

.recent-gists {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: 20px;
}

.highcharts-background {
  fill: #C7EFCF;
}

.lang-chart {
  width: 100%;
  display: block;
  margin-top: 50px;
}

.event-chart {
  width: 100%;
  display: block;
  margin-top: 50px;
}
